@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="loginbuttons">
    <input type="button" class="LoginButton btn primary big" value="Login" onclick="location.href='@Url.Action("Login","Account")'" />
    <input type="button" class="LoginButton btn big" value="Register" onclick="location.href='@Url.Action("Register","Account")'" />
</div>
<div class="promoImage">
    <img src="images/Laptop_Scratch.png" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
